LoginScreen {
    align: center middle;
}

#login-container {
    width: auto;
    height: auto;
    align: center middle;
    background: #EDE8DC;
    padding: 1 4;
    border: tall #2b332a;
}

#login-title {
    text-align: center;
    text-style: bold;
    color: #3e473a;
    margin-bottom: 1;
    padding: 1 0;
}

LoginForm {
    height: auto;
}