LoginScreen {
    align: center middle;
}

#login-container {
    width: auto;
    height: auto;
    align: center middle;
}

#login-title {
    text-align: center;
    text-style: bold;
    color: $text;
    margin-bottom: 1;
    padding: 1 0;
}

LoginForm {
    height: auto;
}
