MainScreen {
    align: center middle;
}

MainScreen Vertical {
    width: auto;
    height: auto;
}


HubScreen {
    align: center middle;
}

HubScreen Vertical {
    width: auto;
    height: auto;
}