BaseModal {
    align: center middle;
}

#modal-container {
    width: auto;
    height: auto;
    align: center middle;
    background: $panel;
    border: round $accent;
    padding: 2 4;
}

PasswordHintsModal {
    #modal-title {
        text-align: center;
        text-style: bold;
        color: $accent;
        margin-bottom: 1;
    }
    
    #modal-body {
        text-style: italic;
    }

    #close {
        margin-top: 1;
    }
}